In [22]:
import numpy as np
import pandas as pd
from pandas import Series ,DataFrame
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn import metrics
import pickle

In [23]:
dataset = pd.read_csv(r'data.csv')

In [24]:
dataset

,Name,Total Cases,Total Death,Recovery Rate,Mortality Rate,Epidemic
0,Smallpox,150000000,15000000,30,30,1
1,Plague,15000000,2500000,15,45,1
2,VFH,100000000,8000000,45,20,1
3,Typhus,200000,20000,25,15,0
4,Spanish Flu,500000000,50000000,50,50,1
5,HIV-AIDS Epidemic,37000000,940000,35,40,1
6,SARS-CoV,8422,922,30,11,0
7,Swine-flu,1000000,284500,20,50,1
8,Ebola,28616,11300,20,70,1
9,Covid-19,95612831,2066176,70,3,1
10,Malaria,80000000,3000000,30,60,0
11,Hong-Kong Flu,10000000,1000000,90,10,0
12,Asian-Flue,20000000,200000,70,15,0
13,The Black Death,100000000,2000000,50,40,1
14,Antonine Plague,1000000,10000,85,5,0
15,Sixth-Cholera,11000000,80000,65,10,0
16,Flu,1000000,100000,90,10,0
17,Plague of Justinian,5000000,2500000,50,50,1
18,Plague of Cyprian,1000000,10000,8,17,0

In [25]:
dataset.shape

(19, 6)

In [26]:
train, test = train_test_split(dataset, test_size=0.3)

In [27]:
print(train.shape)

(13, 6)

In [28]:
print(test.shape)

(6, 6)

In [29]:
train_x = train[['Total Cases','Total Death','Recovery Rate','Mortality Rate']]
train_y = train.Epidemic

In [30]:
test_x = train[['Total Cases','Total Death','Recovery Rate','Mortality Rate']]
test_y = train.Epidemic

In [31]:
train_x.head()

    Total Cases  Total Death  Recovery Rate  Mortality Rate
6          8422          922             30              11
17      5000000      2500000             50              50
16      1000000       100000             90              10
12     20000000       200000             70              15
4     500000000     50000000             50              50

In [32]:
train_y.head()

6     0
17    1
16    0
12    0
4     1
Name: Epidemic, dtype: int64

In [34]:
model = svm.SVC()
model.fit(train_x,train_y)
prediction = model.predict(test_x)

In [13]:
print(metrics.accuracy_score(prediction,test_y))

0.6923076923076923

In [14]:
data_set = np.array([[150000000,15000000,30,30]])
data_set.shape

(1, 4)

In [16]:
prediction = model.predict(test_x)

In [18]:
pickle.dump(model,open('model.pkl','wb'))